## Deliverable 3. Create a Travel Itinerary Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)
from config import weather_api_key

In [6]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Green River,US,88.20,clear sky,41.5286,-109.4662,Hampton Inn & Suites Green River
1,1,Bambanglipuro,ID,75.54,scattered clouds,-7.9500,110.2833,Puri Brata
2,2,Tabuk,PH,75.07,broken clouds,17.4189,121.4443,Golden Berries Hotel and Convention
3,7,Ribeira Grande,PT,75.60,broken clouds,38.5167,-28.7000,Quinta da Meia Eira
4,8,Pilar,BR,78.73,few clouds,-9.5972,-35.9567,Pousada e churrascaria Manguaba

In [11]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [25]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure()
vaca_route = gmaps.directions_layer (
    start, end, waypoints=[stop1, stop2, stop3],
    travel_mode="DRIVING")
fig.add_layer(vacation_route)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"] == "Roma"]
vacation_end = vacation_df.loc[vacation_df["City"]== "Roma"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]== "Rochester"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]== "Shelburne"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]== "Jamestown"]

In [14]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(43.2128, -75.4557)
(43.2128, -75.4557)
(43.1548, -77.6156)
(44.0787, -80.2041)
(42.097, -79.2353)

In [15]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_route = gmaps.directions_layer (
    start, end, waypoints=[stop1, stop2, stop3],
    travel_mode="DRIVING")
fig.add_layer(vacation_route)

fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
vacation_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end])
vacation_df.reset_index(drop=True, inplace=True)
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,423,Roma,US,89.46,broken clouds,43.2128,-75.4557,Wingate By Wyndham Rome
1,431,Rochester,US,86.99,overcast clouds,43.1548,-77.6156,Hyatt Regency Rochester
2,273,Shelburne,CA,82.67,broken clouds,44.0787,-80.2041,The Retreat at the Farm
3,22,Jamestown,US,83.52,few clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
4,423,Roma,US,89.46,broken clouds,43.2128,-75.4557,Wingate By Wyndham Rome

In [18]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
vacation_route = gmaps.directions_layer (
    start, end, waypoints=[stop1, stop2, stop3],
    travel_mode="DRIVING")
fig.add_layer(vacation_route)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))